<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fa-duotone fa-box-ballot"></i></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        
        <div class="section">
          <a href="/auth/google" class="btn red darken-1">
           <i class="fa-brands fa-google left"></i> Log in with Google
          </a>
      </div>
      </div>
    </div>
  </div>